// $color1: rgba(51, 51, 51, 1);
// $color2: rgba(140, 173, 167, 1);
// $color3: rgba(33, 118, 255, 1);
// $color4: rgba(95, 191, 249, 1);
// $color5: rgba(253, 202, 64, 1);
$color1: rgba(234, 196, 53, 1);
$color2: rgba(52, 89, 149, 1);
$color3: rgba(79, 109, 122, 1);
$color4: rgba(3, 206, 164, 1);
$color5: rgba(63, 167, 214, 1);
$text-color: rgba(255, 255, 255, 0.904);
$projects-background-color: rgba(36, 36, 36, 0.9);
$nav-height: 63;
$bg-dark: rgba($color3, 0.2) !important;

/* RGB */

// Sets background image for all browsers
// @param {File} $path
// @param {Colour} $color
@mixin projects-background($path, $color) {
    background-image: linear-gradient(to bottom, $color, $color), url($path);
}