/* Extends */

%bg-rules {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body,
html,
.section {
    height: 100%;
    word-spacing: 0.1em;
    line-height: 1.55;
    overflow: hidden;
}

nav,
h1,
h2,
h3 {
    font-family: 'Oxygen', sans-serif;
}

h4,
h5,
h6,
p {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: $color5;
    &:hover {
        color: darken($color5, 15%);
        text-decoration: none;
    }
}

.navbar {
    letter-spacing: 0.03em;
    top: 0;
    position: fixed;
    height: 63px;
    display: block;
    width: 100%;
    z-index: 9;
    background: $bg-dark;
}

#fullpage {
    padding-top: 63px !important;
}

.section {
    position: relative;
    text-align: center;
}

.projects {
    color: $text-color;
}

.h-first-page {
    width: 100%;
    height: calc(100% - 50px) !important;
    height: calc(100vh - #{$nav-height}) !important;
}

.info-area {
    margin-top: 5% !important;
    margin: 5% auto 0 auto;
}

.project-img {
    max-height: 100%;
}

.landing-img {
    background-image: linear-gradient(to bottom, rgba(68, 68, 68, 0.493), rgba($color3, 0.6)), url("../images/laptop.jpg");
    @extend %bg-rules;
    //background: $color4;
}

.ruby-logo {
    max-height: 32px;
}

.social-icon {
    color: #000 !important;
    &:hover {
        color: lighten(#000, 10%) !important;
    }
}

// Overrides
.btn-primary {
    color: $text-color !important;
    @include button-variant($color2,
    $color2,
    $hover-background: darken($color2, 7.5%), $hover-border: darken($color2, 10%), $active-background: darken($color3, 10%), $active-border: darken($color5, 12.5%))
}

//Section backgrounds
[data-anchor="experience"] {
    background: $color5;
    color: $text-color;
}

[data-anchor="roguelike"] {
    @include projects-background('../images/projects/roguelike.png',
    $projects-background-color);
    @extend %bg-rules;
}

[data-anchor="mikrosoft-gaming"] {
    @include projects-background('../images/projects/mikrosoft-gaming.png',
    $projects-background-color);
    @extend %bg-rules;
}

[data-anchor="my-oranga"] {
    @include projects-background('../images/projects/my-oranga.png',
    $projects-background-color);
    @extend %bg-rules;
}

[data-anchor="other-projects"] {
    background: $color3;
    color: $text-color !important;
}

[data-anchor="qualifications"] {
    background: $color4;
    color: $text-color !important;
}

//Media queries

/* Up to Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (max-width: 768px) {
    .navbar-collapse {
        background-color: $bg-dark;
    }
    .section {
        text-align: center !important;
    }
    .info-area {
        margin-top: 8% !important;
    }
    .display-1 {
        font-size: 4.9rem;
    }
    [data-anchor="qualifications"] {
        .display-3 {
            font-size: 3.8rem !important;
        }
    }
}