body,
html {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    word-spacing: 0.15em;
    line-height: 1.55;
}

#landing-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/code.jpg");
    /* To make the landing image full height of view */
    min-height: calc(100vh - #{$nav_height}px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}